<div class="flex h-screen flex-col justify-between border-e border-gray-100 bg-white">
  <div class="px-4 py-6">
    <span class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">
      <%= image_tag '/arc_logo.png' %>
      <%= @logo_text %>
    </span>
    <% if header? %>
      <div class="mb-6">
        <%= header %>
      </div>
    <% end %>
    <ul class="mt-6 space-y-1">
      <% items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </div>
  <% if footer? %>
    <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
      <%= footer %>
    </div>
  <% end %>
</div>
