<div role="alert" class="<%= wrapper_classes %>">
  <div class="flex items-start gap-4">
    <%= svg %>
    <div class="flex-1">
      <strong class="<%= title_classes %>"> <%= @title %> </strong>
      <p class="<%= body_classes %>">
        <%= @body %>
      </p>
    </div>
  </div>
</div>
