<div class="fixed top-5 right-5 z-50 flex flex-col gap-4 w-96 pointer-events-none">
  <% flash.each do |key, message| %>
    <%
      # Map standard Rails flash keys to your Component types
      type = case key.to_s
             when "alert" then :error
             else :info
             end

      # Title handling: Capitalize the type or use a custom title

      title = type.to_s.humanize
    %>
    <%= render ToastComponent.new(type: type, title: title, body: message) %>
  <% end %>
</div>
<div class="flex justify-center">
  <%= render CardComponent.new(class: "max-w-xl w-full") do %>
    <div class="flex justify-center mb-4">
      <%= image_tag("/arc_logo.png", alt: "Africa Ruby Community Logo", class: "h-14 w-auto") %>
    </div>
    <h1>Forgot your password?</h1>
    <%= form_with url: passwords_path do |form| %>
      <%= render InputComponent.new(
        label: "Email Address",
        name: "email_address",
        id: "email_address",
        type: "email",
        required: true,
        value: params[:email_address],
        placeholder: "Enter your email address",
        autocomplete: "username"
      ) %>
      <div class="py-4">
        <%= render ButtonComponent.new(intent: :primary, type: "submit", class: "") do %>
          Email Reset Instructions
        <% end %>
      </div>
    <% end %>
    <%= link_to 'Back to Login', "/session/new", class: "hover:text-blue-500 hover:underline" %>
  <% end %>
</div>
