<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="bg-gray-50">
    <div class="flex h-screen overflow-hidden" data-controller="sidebar">
      <aside class="w-64 shrink-0 bg-white overflow-y-auto overflow-x-hidden transition-all duration-300" data-sidebar-target="sidebar">
        <%= render SidebarComponent.new(logo_text: "") do |sidebar| %>
          <%# 1. Simple Top-Level Links %>
          <% sidebar.with_item_link(title: "Dashboard", href: root_path, icon: "fa fa-gauge") %>
          <% sidebar.with_item_link(title: "Events", href: events_path, icon: "fa fa-calendar") %>
          <% sidebar.with_item_link(title: "Transactions", href: "", icon: "fa fa-money-bill") %>
          <%# 2. Dropdown Group (Teams) %>
          <%# sidebar.with_item_group(title: "Teams") do |group| %>
            <%# group.with_item(title: "Banned Users", href: "") %>
            <%# group.with_item(title: "Calendar", href: "") %>
            <%# end %>
            <%# 3. User Footer %>
            <% sidebar.with_footer do  %>
              <%= render DropdownComponent.new(align: :right) do |dropdown| %>
                <%# Trigger slot for user avatar%>
                <% dropdown.with_trigger do %>
                  <%= render Sidebar::UserProfileComponent.new(
                        name: @user.full_name,
                        email: @user.email_address,
                        avatar_url: @user.avatar.attached? ? url_for(@user.avatar) : "https://ui-avatars.com/api/?name=#{@user.first_name}"
                      ) %>
                <% end %>
                <%# Pop up Menu items %>
                <% dropdown.with_item(title: "My Profile", href: "/profile/", icon: "fa-solid fa-user") %>
                <% dropdown.with_item(title: "Settings", href: "", icon: "fa-solid fa-cog") %>
                <% dropdown.with_item(
                          title: "Sign Out",
                          href: session_path,
                          icon: "fa-solid fa-right-from-bracket",
                          data: { turbo_method: :delete }
                        ) %>
              <% end %>
            <% end %>
          <% end %>
        </aside>
        <main class="flex-1 overflow-y-auto p-8">
          <div class="fixed top-4 right-4 z-50 flex flex-col gap-2">
            <% flash.each do |key, value| %>
              <% type = key.to_s == 'notice' ? :success : :error %>
              <%= render ToastComponent.new(type: type, title: type.to_s.humanize, body: value) %>
            <% end %>
          </div>
          <%= yield %>
        </main>
      </div>
    </body>
  </html>
