<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="bg-gray-50">
    <div class="flex h-screen overflow-hidden" data-controller="sidebar">
      <aside class="w-64 shrink-0 bg-white overflow-y-auto overflow-x-hidden transition-all duration-300" data-sidebar-target="sidebar">
        <%= render SidebarComponent.new(logo_text: "") do |sidebar| %>
          <% sidebar.with_header do %>
            <%= link_to admin_events_path, class: "text-sm font-bold py-2 text-gray-500" do %>
              <i class="fa-solid fa-arrow-left mr-2"></i> <span data-sidebar-target="text">Back to Main Dashboard</span>
            <% end %>
          <% end %>
          <%# 1. Simple Top-Level Links %>
          <% sidebar.with_item_link(title: "Dashboard", href: admin_event_path(@event), icon: "fa fa-gauge") %>
          <% sidebar.with_item_link(title: "Tickets", href: admin_event_tickets_path(@event), icon: "fa fa-ticket") %>
          <% sidebar.with_item_link(title: "Orders", href: admin_event_orders_path(@event), icon: "fa fa-cart-arrow-down") %>
          <% sidebar.with_item_link(title: "Attendees", href: admin_event_attendees_path(@event), icon: "fa fa-users") %>
          <% sidebar.with_item_link(title: "Transactions", href: admin_event_transactions_path(@event), icon: "fa fa-money-bill") %>
          <% sidebar.with_item_link(title: "Customize", href: edit_admin_event_path(@event), icon: "fa fa-cog") %>
          <%# 3. User Footer %>
          <% sidebar.with_footer do  %>
            <%= render DropdownComponent.new(align: :right) do |dropdown| %>
              <%# Trigger slot for user avatar%>
              <% dropdown.with_trigger do %>
                <%= render Sidebar::UserProfileComponent.new(
                        name: @user.full_name,
                        email: @user.email_address,
                        avatar_url: @user.avatar.attached? ? url_for(@user.avatar) : "https://ui-avatars.com/api/?name=#{@user.first_name}"
                      ) %>
              <% end %>
              <%# Pop up Menu items %>
              <% dropdown.with_item(title: "My Profile", href: "dashboard/profile/", icon: "fa-solid fa-user") %>
              <% dropdown.with_item(title: "Settings", href: "", icon: "fa-solid fa-cog") %>
              <% dropdown.with_item(
                          title: "Sign Out",
                          href: admin_session_path,
                          icon: "fa-solid fa-right-from-bracket",
                          data: { turbo_method: :delete }
                        ) %>
            <% end %>
          <% end %>
        <% end %>
      </aside>
      <main class="flex-1 overflow-y-auto p-8">
        <div id="flash-toasts" class="fixed top-4 right-4 z-100 flex flex-col gap-2">
          <% flash.each do |key, value| %>
            <% type = key.to_s == 'notice' ? :success : :error %>
            <%= render ToastComponent.new(type: type, title: type.to_s.humanize, body: value) %>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
